body {
    padding: 1.5em;
}

li {

    padding-top: 0.5em;

}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #f00;
    text-align: left;
    padding: 8px;
}

th {
    border-top: 2px solid #f00;
}

td {
    border-top: 1px solid #f00;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

hr {
    background-color : #f00;
    border: 0;
    height: 2px;
}
